body{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Utility */
.py40 {
  padding-top: 40px;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
/* /Utility */
/* button */
.ms_btn_aqua{
  display: inline-block;
  background-color: #1abc9c;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.ms_btn_aqua .fa-download{
  padding-right: 10px;
}
.ms_btn_aqua:hover{
  background-color: white;
  color: #2c3e50;
  text-decoration: none;
}
/* /button */
/* General */
h1{
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 700;
  margin-top: 0 !important;
}
h2{
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  margin-top: 0 !important;
}
.ms_hr{
  line-height: 100%;
  margin-bottom: 20px;
  height: 50px;
}
.ms_hr hr {
  display: inline-block;
  width: 100px;
  line-height: 50px;
  border: 2px solid;
}
.fa-star{
  font-size: 32px;
  padding: 0 10px;
  line-height: 50px;
  vertical-align: bottom;
}
span.ms_logo{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
}
/* /General */

/* Header */
#ms_navbar{
  background: #2c3e50;
  border: none !important;
}
#ms_navbar .ms_menu li a{
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
#ms_heroimage{
  background-color: #1abc9c;
  min-height: 500px;
  color: white;
  text-align: center;
}
#ms_heroimage img{
  height: 300px;
  margin-top: 50px;
}
#ms_heroimage .ms_hr hr{
  border-color: white;
}
#ms_heroimage .fa-star{
  color: white;
}
#ms_navbar a{
  color: white;
}
/* /Header */
/* Main */

#ms_heroimage, #ms_portfolio, #ms_contact, #ms_about{
  padding: 50px 0;
  text-align: center;
}
#ms_portfolio, #ms_contact{
  background: white;
  color: #2c3e50;
}
#ms_portfolio img{
  height: 250px;
  border-radius: 10px;
}
#ms_portfolio .ms_hr hr{
  border-color: #2c3e50;
}
#ms_portfolio .fa-star{
  color: #2c3e50;
}
#ms_about{
  background: #1abc9c;
  color: white;
}
#ms_about .ms_hr hr{
  border-color: white;
}
#ms_about p{
  font-size: 20px;
  text-align: left;
}
/* /About */
#ms_footer{
  height: 300px;
  background: #3a546d;
  color: white;
}
