/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* Suddivisione pagina */
body{
  font-family: 'Open Sans', sans-serif;
}
header{
  width: 100%;
  /* min-height: 10vh; */
  background: #2c3e50;
  color: white;
}
main{
  width: 100%;
}
main #ms_heroimg{
  width: 100%;
  min-height: 90vh;
  background: #1abc9c;
  color: white;
}
main #ms_portfolio{
  width: 100%;
  min-height: 90vh;
  background: white;
  color: #2c3e50;
}
main #ms_about{
  width: 100%;
  min-height: 50vh;
  background: #1abc9c;
  color: white;
}
main #ms_contact{
  width: 100%;
  min-height: 90vh;
  background: white;
  color: #2c3e50;
}
footer{
  width: 100%;
  min-height: 50vh;
  background: #3a546d;
  color: white;
}
footer #ms_location{
  width: 100%;
  min-height: 30vh;
}
footer #ms_copyright{
  min-height: 20vh;
}
/* /Suddivisione pagina */
/* Navbar */
/* logo */
#ms_navbar{
  height: 10vh;
  background: #2c3e50;
  border-bottom: none;
}
#ms_navbar .ms_logo {
  color: white;
  padding: 0;
  text-decoration: none;
}
#ms_navbar .ms_logo h4 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
/* menu */

#ms_navbar .ms_menu{
  margin-top: 15px;
  text-transform: uppercase;
}
#ms_navbar .ms_menu a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
